
@media only screen and (max-width: 980px) {
    nav{
        float: none;
    }

    .profile_header{
        flex-direction: column;
        align-items: center;

        h1{
            text-align: center;
        }
    }

    .row{
        position: static;
        left: unset;
        justify-content: center;

        > div {
            min-width: 200px;
        }
    }

    .row1{
        left: unset;
        justify-content: center;
    }
    

    #gallery{
        border: solid;
        border-radius: 16px;
        display: grid;
        grid-template-columns: auto;
    }
}


@media only screen and (max-width: 615px) {
    .row{
        flex-direction: column;
        align-items: center;
        
        > div {
            width: fit-content;
        }
    }

    .row1{
        flex-direction: column;
        align-items: center;

        > div {
            width: fit-content;
        }
    }

    nav{
        min-width: 180px;
    }
    
    .home{
        max-width: 300px;
    }
}


@media only screen and (max-width: 520px) {
    .home{
        max-width: 300px;
        min-width: 200px;
        justify-content: center;
    }
}

%media615{
    @media only screen and (max-width: 615px) {
        max-width: 450px;
        min-width: 300px;
    }
}

%media520{
    @media only screen and (max-width: 520px) {
        max-width: 250px;
        min-width: 150px;
    }
}

.main-content, .skills{
    @extend %media615;
    @extend %media520;
}